.servistag{
      position: absolute;
      font-size: 60px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: -21%;
    margin-left: 41%;
}