.header{
    width: 100%;
    height: 148px;
    /* background-color: aqua; */
    float: left;
    position:absolute;

}
.logobox{
    width: 20%;
    height: 100%;
    /* background-color: cornsilk; */
    float: left;
    overflow: hidden;
}
.navbox{
    width: 50%;
    height: 100%;
    float: left;
    /* background-color: white; */
}
.iconbox{
    width: 30%;
    height: 100%;
    /* background-color: blanchedalmond; */
    float: left;
}
.logobox img{
    width: 64%;
    height: 30%;
    margin-left: 19px;
    margin-top: 42px;
}
.navbox ul li{
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin: 48px -11px -19px 35px;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.navtext{
    color: #ffffff;
    text-decoration: none;
}
.navtext:hover{
    color: #f36100;
}
.navbox ul li:hover{
    color: #f36100;
}

 .icon{
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    margin-left: 15px;
    margin: 51px -160px 13px 185px;
 }
 
 
 
    .fa {
        display: inline-block;
        font: normal normal normal 14px / 1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

#preloder{
    display:none;
}
.canvas-open{
    display: none;
}

    @media screen and (max-width:480px) {
        #preloder {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999999;
            display: none;
            color: #ffffff;
         } 
         .navbox ul li{
            display: none;
         }
         .canvas-open {
            position: absolute;
            right: 40px;
            top: 61px;
            font-size: 22px;
            width: 30px;
            height: 30px;
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 2px;
            line-height: 29px;
            text-align: center;
            z-index: 1;
            display:block;
            cursor: pointer;
        }
        .logobox{
            width: 33%;
        }
        .icon{
            display: none;
        }
        .logobox img{
            margin-top: 55px;
            margin-left: 45px;
            height: 48px;
            width: 98px;
        }
       

    }
 